.marea-top {
  padding: 2rem 3rem 2rem 3rem;
  background: #fff;

}

.actions{
  .actions__wrap{
    .actions__el{

    }

  }
  .act-item {
    .act-item__wimg {
      .act-item__img {
        width: 40px;
      }
    }
  }
}
