@import '~highlight.js/scss/github';
$fa-font-path:        "../webfonts";

@mixin desc() {
  @media(max-width: 1200px) {
    @content
  }
}

@mixin lap() {
  @media(max-width: 992px) {
    @content
  }
}

@mixin tab(){
  @media(max-width: 768px){
    @content
  }
}

@mixin phone() {
  @media(max-width: 480px) {
    @content
  }
}


$gilroy:  'gilroy';

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import "hero";
@import "info";
@import "nav";


html, body{
  height: 100%;
}
#app{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  .app__content{
flex: 1 0 auto;
  }
  .app__footer{
    flex: 0 0 auto;
  }
}



//start info

//end info


.tags{
  .tags__item{
    font-family: gilroy;
    background: #f96767;
    padding: 3px 15px;
    color: #fff;
    border-radius: 32px;
    font-size: 12px;
  }
  &.big{
    .tags__item{
      font-size: 16px;
      padding: 8px 24px;
      display: inline-block;
      margin: 8px 0;
    }
  }
}

.breadcrumb{

  background: #fecf37;
  color: #333;
  padding: 6px 20px;
  border-radius: 24px;
  .breadcrumb-item{
    a{
      color: #000;
      font-family: $gilroy;
    }
    &.active{
      color: #000;
      font-family: $gilroy;
    }
  }
}

.article{
  pre code{
    padding: 30px !important;
    font-size: 13px;
    //border-left: 2px solid #009aa8;
    .indent{
      display: inline-block;
      width: 20px;
    }
  }
  .article__inner {

    .article__edit{
      font-family: $gilroy;
    }

    background: #fff;
    padding: 30px;
    width: 100%;
    border-radius: 6px;
    .article__content {
      width: 100%;
      background: #fff;
    }

    .article__footer {
      padding: 15px;
      background: #fff;
      display: flex;
      width: 100%;

      .a-footer__el {
        flex-grow: 1;

        &.tags {
          justify-content: flex-end;

          .tags__border {
            height: 1px;
            width: 100%;
            display: block;
            background: #f1e7e7;
            margin: 16px 0;
          }
        }
      }
    }
  }
}



.marea-footer{
  background: #fff;
  .marea-footer__in{
    font-family: $gilroy;
    display: flex;
    justify-content: space-between;
    .afooter__left{
      display: flex;
      flex-direction: column;
    }
    .afooter__ver{
      a{
        color: #525361;
        padding: 12px 47px;
        img{
          margin-right: 4px;
        }
      }
    }
  }
}

code.inner{
  background: #f5f5f5;
  padding: 3px 6px;
  border-radius: 4px;
}


.hero-text {
  // display: inline-block;
  // height: 1.5em;
  // overflow: hidden;
  // vertical-align: middle;
  // mask-image: linear-gradient(transparent, white, white, white, transparent);
  // mask-type: luminance;
  // mask-mode: alpha;
  
  &__words {
    display: inline-block;
    margin: 0;
    padding: 0;
  
    list-style: none;
    
    animation-name: wordSlider;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-duration: 7s;
  }
  
  &__word {
    display: block;
    line-height: 1.3em;
    text-align: left;
  }
}

@keyframes wordSlider {
  $steps: -0%, -25%, -50%, -75%;
  
  @for $index from 0 to length($steps)-1 {
    $next: $index+1;
    $step: floor(100/(length($steps)-1));
    $animation_step: floor($step*.2);
  
    #{$step*$index}%,
    #{($step*$next) - $animation_step}% {
      transform: translateY(nth($steps, $index+1));
    }
  }
  100% {
    transform: translateY(nth($steps, length($steps)));
  }
}