@import '~highlight.js/scss/github';
$fa-font-path:        "../webfonts";

@mixin desc() {
  @media(max-width: 1200px) {
    @content
  }
}

@mixin lap() {
  @media(max-width: 992px) {
    @content
  }
}

@mixin tab(){
  @media(max-width: 768px){
    @content
  }
}

@mixin phone() {
  @media(max-width: 480px) {
    @content
  }
}


$gilroy:  'gilroy';

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';

html, body{
  height: 100%;
}
#app{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  .app__content{
flex: 1 0 auto;
  }
  .app__footer{
    flex: 0 0 auto;
  }
}

//hero
.hero{
  .hero__wrapp{
    display: flex;
    justify-content: space-around;
    background: url(/images/front/bgy2.png);
    background-size: auto;
    background-repeat: no-repeat;
    height: 850px;
    align-items: center;
    @include lap{
      justify-content: center;
    }
    .hero__item{
      flex-grow: 1;
    }
  }
}
.hero-text{

    transform: translateY(-50%);

  @include desc{
    width: 40%;
  }
  //transform: translateY(-20%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .hero-text__deved{

    flex-shrink: 1;
    width: 8px ;
    height: 210px;
    margin: 0px 20px;
    .hero-text__bb {
      height: 100%;
      width: 2px;

      background: #fff;
    }
  }
  .hero-text__el{

    flex-shrink: 0;
    .hero-text__top{
      font-weight: 900;
      font-family: gilroy;
      left: 0;
      position: absolute;
      transform: translate(-38%, -50%);
      color: #212529;
      text-transform: uppercase;
    }
    .hero-text__midd{

    }
    .hero-text__bott{

    }

    .hero-text__first{
      font-size: 70px;
      @include desc{
        font-size: 50px;}
    }
    .hero-text__second{
      font-size: 50px;}
    .hero-text__therd{
      @include desc{
        font-size: 50px;
      }
      font-size: 90px;}
    .hero-text__four{
      font-size: 90px;
      line-height: 10px !important;
      color: #fff;
    }

    .hero-text_bold{
      font-family: $gilroy;
      font-weight: 900;
      text-transform: uppercase;
      line-height: 100%;
      font-size: 90px;
      color: #3e3b56;
      @include desc{
        font-size: 70px ;
      }
    }
    .hero-text_white{
      color: #fff;
      line-height: 100%;
      font-weight: 400;
      font-family: $gilroy;
    }
    position: relative;

  }
}
.hero-img{
  transform: translateY(-16%);
  @include lap{
   display: none;
  }
  @include desc{
    flex-basis: 40%;
  }
  img{
    margin: 0 auto;
    display: block;
    flex-basis: 50%;
  }
}
//end hero
.info{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  transform: translateY(-39%);
  .info__item{
    flex-basis: 36%;
    background: #3e3b56;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 18px 14px -6px #0000005e;
    margin-right: 45px;
    margin-bottom: 45px;
  }
}
.s-block{
  position: relative;
  transition: 500ms all;
  &:hover{
    transform: translateY(-30px);
    transition: 500ms all;
  }
  .s-block__icon{
    img {
      width: 80px;
    }
  }
  .s-block__title{
    margin: 20px 0 15px;
    font-family: $gilroy;
    font-weight: 900;
    font-size: 24px;
    color: #f37b83;
  }
  .s-block__text{
    color: #fff;
    font-family: $gilroy;
  }
}
.s-block__lime_bottomr{
  position: relative;
  &:after {
    position: absolute;
    content: "";
    background: url('/images/lime.png');
    z-index: 0;
  }
}
.s-block__lime_topl{
  position: relative;
  &:after {
    position: absolute;
    content: "";
    background: url(/images/lime.png);
    z-index: -1;
    transform: translateX(-25%);
    width: 250px;
    height: 250px;
    margin-left: -125px;
    top:-28%;
  }
}
//start info

//end info

//top bar
.navbar{
  background: #ffd017 !important;
  border-bottom: 1px solid #eee;
  .navbar__logo{
    border-right: 1px solid #eee;
    flex-basis: 15%;
    background: #ffd017;
    padding-left: 10px;
    .navbar-brand{
      padding: 14px 0;
      .navbar__text{
        flex-direction: column;
        margin-left: 9px;
        display: flex;
        font-size: 12px;
        span{
          line-height: 24px;
          font-weight: 900;
          color: #002b50;
          font-size: 20px;
          font-style: italic;
          &.first{

          }
          &.second{


          }
        }
      }
    }
  }
  .navbar__menu{
    flex-basis: 100%;
    .dmenu{
      justify-content: flex-end;
      .del__links{
        flex-basis: 41%;
        li{
          a{
            color:#000;
            font-weight: 900;
          }
          &.active{
            background: #009aa8;
            a{
              color:#fff;
            }
          }
        }

      }
      .del__search{
        flex-basis: 24%;
        position: relative;
        padding: 23px 0;
        border-left: 1px solid #eee;
        form{

          margin: 0 auto;
        }
      }
      .del__user{
        flex-basis: 12%;
        background: #3e3b56;
        li{
          width: 100%;
          text-align: center;
          a{
            color: #fff;
            font-family: gilroy;
            padding: 22px 0;
            display: block;
            font-weight: 900;
            font-size: 19px;
            line-height: 120%;
            text-transform: uppercase;

            i{
              margin-right: 5px;
            }
          }
        }
      }
      .dmenu__el{

      }
    }
  }
}



.tags{
  .tags__item{
    font-family: gilroy;
    background: #f96767;
    padding: 3px 15px;
    color: #fff;
    border-radius: 32px;
    font-size: 12px;
  }
}

.breadcrumb{

  background: #fecf37;
  color: #333;
  padding: 6px 20px;
  border-radius: 24px;
  .breadcrumb-item{
    a{
      color: #000;
      font-family: $gilroy;
    }
    &.active{
      color: #000;
      font-family: $gilroy;
    }
  }
}

.article{
  pre code{
    padding: 30px !important;
    border-left: 2px solid #009aa8;
    .indent{
      display: inline-block;
      width: 20px;
    }
  }
  .article__inner {

    .article__edit{
      font-family: $gilroy;
    }

    background: #fff;
    padding: 30px;
    width: 100%;
    border-radius: 6px;
    .article__content {
      width: 100%;
      background: #fff;
    }

    .article__footer {
      padding: 15px;
      background: #fff;
      display: flex;
      width: 100%;

      .a-footer__el {
        flex-grow: 1;

        &.tags {
          justify-content: flex-end;

          .tags__border {
            height: 1px;
            width: 100%;
            display: block;
            background: #f1e7e7;
            margin: 16px 0;
          }
        }
      }
    }
  }
}



.marea-footer{
  background: #fff;
  .marea-footer__in{
    font-family: $gilroy;
    display: flex;
    justify-content: space-between;
    .afooter__left{
      display: flex;
      flex-direction: column;
    }
    .afooter__ver{
      a{
        color: #525361;
        padding: 12px 47px;
        img{
          margin-right: 4px;
        }
      }
    }
  }
}

code.inner{
  background: #f5f5f5;
  padding: 3px 6px;
  border-radius: 4px;
}
